<% if(page === "testing"){var active1 = true;} %>


<header id = "main-header">
        <div class = "container">
            <div class = "row end-sm middle-sm">
                <div class = "col-md-2">
                    <h1>Post57</h1>
                </div>
                <div class = "col-sm-10">
                    <nav id = "navbar">
                        <ul>
                            <li><a href="index <%if(active1){%>">Home <%= "yes" %> <%}%></a></li>
                            <li class = "current"><a href = "about">About</a></li>
                            <li><a href = "events">Events</a></li>
                            <li><a href = "Gallery">gallery</a></li>
                            <li><a href = "officers">Officers</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
</header>