<html>
    <head>
        <title>Solve</title>
        <link rel ="stylesheet" type = "text/css" href = "nav.css">
    </head>
    <body>
        <% include ../views/partials/header.ejs %>
        <h1>Find the key to solve this problem</h1>
        <p>
        <%= text %>
        </p>
   </body>
</html>