<html>
    <head>
        <title>Testing</title>
    </head>
    <body>
        <% include ../views/partials/header.ejs %>
        <h1>Hello</h1>
        <p>JSAOIDFJDAOFJSAOJFSAJFOIAJFSAOIF ASFDJSAOF JSAOFJ SAOFJSAOF JSAOJO <%= problems[1] %></p>
    </body>
</html>